@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

body {
  color: #fff;
  background-color: #12373e;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}

.section-container {
  width: 70%;
  margin: auto;
  margin-bottom: 30px;
  padding-top: 40px;
}

.section-title {
  margin-bottom: 45px;
  display: inline-block;
  position: relative;
  font-weight: 400;
  letter-spacing: 1.2px;
}

@media screen and (max-width: 768px) {
  .section-title {
    display: block;
    font-size: 1.2rem;
    text-align: center;
  }
}
